body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

.header-container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}

.header {
    gap: 70px;
    max-width: 1000px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    margin-left: 32px;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    padding: 90px 0px;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    padding: 30px;
}

.big-image {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: gray;
    margin: 0px 20px 20px 0px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 5px;
}

.info-container {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
    gap: 10px;
    width: 800px;
}

.info-title {
    font-weight: 700;
    font-size: 36px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.small-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100px;
    height: 100px;
    border: solid 3px #3882f6;
    border-radius: 8px;
}

.card-subtext {
    text-align: center;
    color:rgb(99, 99, 99);
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 40px;
    padding: 70px 30px;
    background-color: #e5e7eb;

}

.quote-content {
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
}

.credit {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: large;
}

.bottom-container {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #3882f6;
    margin: 70px;
    border-radius: 10px;
    color: #f9faf8;
    gap: 50px;
    max-width: 800px;
}

.bottom-title {
    font-weight: 700;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 7px;
    padding: 5px;
}

.top-button {
    border: solid #1f2937;
}

.bottom-button {
    border: solid;
}

.footer {
    flex-shrink: 0;
    background-color: #1f2937;
    padding: 25px;
}

.copyright {
    color:#f9faf8;
    text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}