body {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-bottom {
    display: flex;
}